<section id="{% if page.header.redirect %}{{ page.header.redirect }}{% else %}{{ page.menu|lower }}{% endif %}" class="section about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12 col-lg-6">
        <h2 class="section-title text-left">About</h2>
        {{ page.content }}
        <!-- https://demo.createx.studio/around/about.html  -->
        <a href="#" title="#" class="btn btn-rounded btn-outline-primary card-link">About</a>
      </div>
      <div class="col-sm-12 col-lg-6">
        <img src="user/themes/alex-graphic-designer/images/default.jpg" class="img-fluid rounded" alt="#"/>
      </div>
    </div>
  </div>
</section>
