<section id="{% if page.header.redirect %}{{ page.header.redirect }}{% else %}{{ page.menu|lower }}{% endif %}" class="section about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12 col-lg-6">
        <h2>About</h2>
        <p>Test Test Test Test Test Test Test <strong>Test</strong> Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test </p>
      </div>
      <div class="col-sm-12 col-lg-6">
      </div>
    </div>
  </div>
</section>
