{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set child = blog.children %}
<section id="{% if page.header.redirect %}{{ page.header.redirect }}{% else %}{{ page.menu|lower|replace({' ': '-'})}}{% endif %}" class="section blog py-4 py-md-6">
  <div class="container">
      <h2 class="title mb-4">{{page.title|capitalize }}</h2>
    <div class="row justify-content-start">
      {% if child|length > 0 %}
        {% for post in child.order('date', 'desc').slice(0, 4) %}
          <div class="col-sm-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
            {% include 'partials/blog/blog-list-item.html.twig' with {page: post} %}
          </div>
        {% endfor %}
        {% else %}
        <div class="col text-center">
          <p>Pas d'articles à afficher pour l'instant.</p>
        </div>
      {% endif %}
    </div>
  </div>
</section>
