<section id="{% if page.header.redirect %}{{ page.header.redirect }}{% else %}{{ page.menu|lower|replace({' ': '-'})}}{% endif %}" class="section cta py-5" style="background-image:url({{ url('theme://images/default.jpg') }});">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="call-to-action card" style="padding: 40px 50px 90px; box-shadow: 0 0 30px 0 rgba(167,167,167,.16); border:0; border-radius: 2em 2em 2em 0; overflow: hidden;">
          <div class="row">
            <div class="col-lg-6">
              <h2 class="title">Call to Action
                <span>Test test</span>
              </h2>
            </div>
            <div class="col-lg-6">
              <a href="#" class="btn btn-rounded btn-custom-primary">Contaaaaaact !</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
