<!-- Modular 'home' ================================================== -->
<section id="{{ page.menu|lower }}" class="home" style="background-image: url({{ page.media[page.header.background].url() }})">

    <div class="overlay" style="opacity:{{ page.header.bannerOpacity }};"></div>

    <div class="container">
      <div class="row align-items-center">

          <!-- Home card -->
          <div class="home__card">
            <h4>Test</h4>
            <h1>{{ content }}</h1>
            <div class="home__buttons">
              <a class="btn btn-outline-primary" href="#" role="button">Link</a>
            </div>
          </div>

      </div>
    </div>

</section>
