<section id="{% if page.header.redirect %}{{ page.header.redirect }}{% else %}{{ page.menu|lower|replace({' ': '-'})}}{% endif %}" class="section services">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-sm-10 col-md-6 col-lg-4">
        <div class="skills__item mt-4 text-center">
          <h3 class="skills__title">Webdesign</h3>
          <p class="skills__text">Test Test Test Test Test Test Test Test Test Test</p>
          <a class="btn btn-rounded btn-custom-primary" title="#" href="#">En savoir plus</a>
        </div>
      </div>
      <div class="col-sm-10 col-md-6 col-lg-4">
        <div class="skills__item mt-4 text-center">
          <h3 class="skills__title">Design graphique</h3>
          <p class="skills__text">Test Test Test Test Test Test Test Test Test Test</p>
          <a class="btn btn-rounded btn-custom-primary" title="#" href="#">En savoir plus</a>
        </div>
      </div>
      <div class="col-sm-10 col-md-6 col-lg-4">
        <div class="skills__item mt-4 text-center">
          <h3 class="skills__title">Développement</h3>
          <p class="skills__text">Test Test Test Test Test Test Test Test Test Test</p>
          <a class="btn btn-rounded btn-custom-primary" title="#" href="#">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
</section>
