//Bouton personnalisés

.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: $btn-font-size;
  min-width: $btn-min-width;
  padding: .75rem 1.75rem;
  line-height: 1.5;

  &--rounded{
    border-radius: $btn-radius;
  }

  &--sm{
    padding: .5rem 1.25rem;
    font-size: .875rem;
    line-height: 1.5;
  }

  &-outline-dark{
    color: #000;
    border-color: #000;

    &:hover{
      color: #000;
      background-color: rgba(0,0,0, 0.15);
      border-color: #000;
    }
  }

}
