//Bouton personnalisés -- AlexGraphicDesigner-Theme

.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  min-width: $btn-min-width;
  height: $btn-height;
  font-size: $btn-font-size;
  letter-spacing: .0892857143em;
  text-transform: uppercase;
  transition: box-shadow 0.2s ease;

  &-rounded{
    line-height: 1.5;
    padding: 0 1rem;
    border-radius: $btn-radius;
  }

  &:focus,
  &.focus{
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,.2);
  }
}


.btn-primary{
  background: rgb(0,0,0);
  background: linear-gradient(200deg, rgba(0,0,0,1) 0%, rgba(57,57,57,1) 100%);
  color: $btn-color;
  border-color: $btn-primary-border;
  @include transition;
}

.btn-outline-primary{
  color: $btn-primary-outline-color;
  border-color: $btn-primary-outline-color;

  @include hover-focus-active{
    background-color: $btn-primary-outline-color;
    border-color: $btn-primary-outline-color;
    color: $btn-color;

    &:not(.disabled){
      background-color: $btn-primary-outline-color;
      border-color: $btn-primary-outline-color;
      color: $btn-color;

      &:not(.disabled){
        background-color: $btn-primary-outline-color;
        border-color: $btn-primary-outline-color;
        color: $btn-color;
      }

    }
  }
}

button, a{
  &:focus{
    outline: $focus-base;
  }
}
