//Bouton personnalisés -- AlexGraphicDesigner-Theme

.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: $btn-min-width;
  height: $btn-height;
  font-size: $btn-font-size;
  font-weight: 500;
  letter-spacing: .0892857143em;
  text-transform: uppercase;
  transition: transform 0.2s ease;
  transform: translateY(0);

  &-rounded{
    line-height: 1.5;
    padding: 0 1rem;
    border-radius: $btn-radius;
  }

  &:hover, &.hover{
    transform: translateY(-3px);
    box-shadow: 0px 23px 60px 0px rgba(0,41,158,0.3);
  }
}

.btn-outline-primary{
  color: $btn-link-bg;
  border-color: $btn-link-bg;

  &:hover,
  &.hover{
    background-color: $btn-link-bg;
    border-color: $btn-link-bg;
    color: $white;
  }

  &:focus,
  &.focus{
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,.2);
  }

  &:active,
  &.active{
    background-color: $btn-link-bg;
    border-color: $btn-link-bg;
    color: $white;

    &:not(.disabled){
      background-color: $btn-link-bg;
      border-color: $btn-link-bg;
      color: $white;
    }
  }
}
