//Bouton personnalisés

.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: $btn-min-width;
  border-radius: $btn-radius;

  &-outline-dark{
    color: #000;
    border-color: #000;

    &:hover{
      color: #000;
      background-color: rgba(0,0,0, 0.15);
      border-color: #000;
    }
  }

}
