//Styles généraux footer

.footer{
  background: $white;
  border-top: $footer-border-top;

  //Réseaux sociaux
  &__social{
    &__item{
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1rem;
      }

    }
  }

  //Mentions Légales
  &__legal{
    font-size: $font-size-legal;
  }
}

//Styles Desktop et tablette
@include media-breakpoint-up(md) {
  .footer{
    padding: 4rem 0 2rem 0;
  }
}
