//Styles généraux footer

.footer{
  background: $white;
  border-top: $footer-border-top;
  padding: 1rem 0;

  //Logo Footer
  &__logo{
    img{
      width: 100%;
      max-width: 35px;
    }
  }

  //Réseaux sociaux
  &__social{

    &__list{
      text-align: right;
      padding-left: 0;
    }

    &__item{
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1rem;
      }

    }
  }

  //Mentions Légales
  &__legal{
    font-size: $font-size-legal;

    &__list{
      text-align: right;
      list-style: none;
      padding-left: 0.5em;

      &__item{
        display: inline-block;

        &:not(:first-child) {
          &:before{
            content: "|";
            padding:0 0.5em;
          }
        }

      }
    }
  }
}

//Styles Desktop et tablette
@include media-breakpoint-up(md) {
  .footer{
    &__logo{
      padding-right: 1em;
    }

    &__legal{
      display: flex;
      flex-direction: row;
      align-items: center;
    }

  }
}
