//Hero
.hero{
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 7rem;
  padding-bottom: 8rem;

  &__image{
    background:no-repeat center center / cover fixed;
  }

  &__content{
    position: relative;
    border-radius: 4em 4em 4em 0;
    box-shadow: 0 1rem 3rem rgba(31,45,61,.125);
    background: $white;
  }
}
