//Styles du menu

.header{
  background: $header-bg;
  transition: all .3s ease-in-out;
}

.navbar-brand{
  img{
    max-height: $header-logo-height;
  }
}

//Menu responsive
.navbar-toggler{
  border: none;
  border-radius: 0;
  .toggler-icon{
    display: block;
    position: relative;
    width: 30px;
    height: 2px;
    margin: 5px 0;
    background-color: $navbar-light-color;
    transition: all .3s ease-out 0s;
  }
}

.navbar-toggler{
  &[aria-expanded="true"]{
    .toggler-icon{
      &:nth-of-type(1){
        transform: rotate(45deg);
        top: 7px;
      }

      &:nth-of-type(2){
        opacity: 0;
      }

      &:nth-of-type(3){
        transform: rotate(135deg);
        top: -7px;
      }
    }
  }
}

//Dropdown
.dropdown-menu{
  border: 0;
  overflow: hidden;
}

.dropdown-item{
  font-size: .875rem;
}

@include media-breakpoint-up(md) {

  .navbar-brand{
    img{
      max-height: $header-logo-height;
      @include transitions;
    }
  }

  .scrolled{
    .header{
      box-shadow: 0 20px 50px 0 rgba(0,0,0,.05);
      .navbar-brand{
        img{
          max-height: $header-logo-height * 0.8;
        }
      }
    }
  }


  //.nav-link
  .nav-link{
    position: relative;
    font-size: $nav-link-font-size;
    margin-left: 0.5em;
    margin-right: 0.5em;

    &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background: $primary;
      top: 100%;
      left: 0;
      pointer-events: none;
      transform-origin: 100% 50%;
      transform: scale3d(0, 1, 1);
      transition: transform 0.3s;
    }

    &:hover, &.active{
      &:before{
        transform-origin: 0% 50%;
        transform: scale3d(1, 1, 1);
      }
    }
  }


  //Dropdown
  .dropdown-menu{
    padding: 0;
    @include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.05));
  }

  .dropdown-item{
    padding: 0.625rem 1.25rem;
  }

}
