//Styles du menu

.header{
  background: $header-bg;
  transition: all .3s ease-in-out;
}

.nav{
  .navbar-brand{
    img{
      max-height: $header-logo-height;
    }
  }

  &__link{
    transition: color .3s ease-in-out;
  }

}

.navbar-toggler{
  border: none;
  border-radius: 0;
}

//Dropdown
.dropdown-menu{
  border: 0;
  overflow: hidden;
}

.dropdown-item{
  font-size: .875rem;
}

@include media-breakpoint-up(md) {

  .scrolled{
    .header{
      box-shadow: 0 .125rem 1.25rem rgba(0,0,0,.075);

      .nav{
        .navbar-brand{
          img{
            max-height: $header-logo-height * 0.8;
          }
        }
      }

    }
  }

  .nav{
    box-shadow: none;
    transition: all .5s ease;

    &__list{
      margin-left: auto;
    }

    &__link{
      position: relative;
      font-size: $nav-link-font-size;
      margin-left: 0.5em;
      margin-right: 0.5em;

      &:before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0px;
        width: 0;
        height: 1px;
        opacity: 0;
        transition: opacity .4s ease-in-out, transform .4s ease-in-out, width .4s ease-in-out;
        transform: translateX(-50px);
      }

      &:hover{
        &:before{
          background: $nav-link-color-hover;
          width: 100%;
          opacity: 1;
          transform: translateX(0);
        }
      }

    }

    &__item{
      &.active{
        .nav__link{
          &:before{
            width: 100%;
            background: $nav-link-color-active;
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }

    .navbar-brand{
      img{
        max-height: $header-logo-height;
        transition: all .5s ease;
      }
    }

  }

  //Dropdown
  .dropdown-menu{
    padding: 0;
    @include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.05));
  }

  .dropdown-item{
    padding: 0.625rem 1.25rem;
  }

}
