//import Tiny Slider
@import '../../node_modules/tiny-slider/src/tiny-slider';

//Fix style natif des <ul> pour le slider
#home-slider{
  padding: 0;
  margin: 0;
}

.tns-outer, .tns-ovh, .tns-inner, .tns-slider, .tns-item{
  height: 100%;
}

.tns-slider{
  & > .tns-item{
    overflow: hidden;
  }
}
