<div class="card" style="box-shadow: 0 0 30px 0 rgba(167,167,167,.16); border:0; border-radius: 2em 2em 2em 0; overflow: hidden;">
    {% set image = page.media.images|first %}
    {% if image %}
    <div class="card-image">
        <a href="{{ page.url }}">{{ image.cropZoom(800,400).html|raw }}</a>
    </div>
    {% endif %}
    <div class="card-header">
        {% include 'partials/blog/title.html.twig' with {title_level: 'h5'} %}
    </div>
    <div class="card-body">
      {% include 'partials/blog/date.html.twig' %}
      {% if page.summary != page.content %}
          {{ page.summary|raw }}
      {% else %}
          {{ page.content|raw }}
      {% endif %}
      <a href="#" class="card-link">Card link</a>
    </div>
</div>
