
<div id="cookies" class="cookies" role="alert">
  <div class="cookies__header">
    <small>Voici ...</small>
    les COOKIES  !
  </div>
  <div class="cookies__body">
    Voulez-vous des cookies ? Vous ne savez pas ? Avant de prendre cette décision, rendez-vous ici : <a href="#" title="">En savoir plus</a>
  </div>
  <div class="cookies__btn">
    <button id="cookie-btn-ok" type="button" class="btn btn-success cookies--btn">Evidemment !</button>
    <button id="cookie-btn-ko" type="button" class="btn btn-outline-dark cookies--btn">Non.</button>
  </div>
</div>
