{# Footer #}

<footer class="footer">
    <div class="container">
      <div class="row">
      </div>
      <div class="row align-items-center">
        <p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="http://www.rockettheme.com">RocketTheme</a>.</p>
      </div>
    </div>
</footer>
