{# Footer #}

<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">

        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-sm-6">
          <ul class="footer__social">
            {% for item in theme_var('footer-social') %}
            <li class="footer__social__item">
                <a class="footer__social__link" href="{{ item.socialIconLink }}" title="{{ item.socialIconText }}">
                    <i class="{{ item.socialIconClass }}" aria-hidden="true"></i>
                </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-sm-6 text-sm-right">
          <p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="http://www.rockettheme.com">RocketTheme</a>.</p>
        </div>
      </div>
    </div>

</footer>
