<section id="{{ id }}" class="section hero hero__image" {% if hero_image %} style="background-image:url({{hero_image.url() }})" {% else %} style="background-image:url({{ url('theme://images/default.jpg') }});" {% endif %}>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 ml-auto">
          <article class="hero__content px-5 py-5">
              {{ content|raw }}
          </article>
        </div>
      </div>
    </div>
    <div class="shape shape--bottom">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 280.91">
        <path fill="#fff" d="M1007.17,229.91C658.85,229.91,321.24,210.71,0,174.72V280.91H3000V0C2417.2,146,1735.58,229.91,1007.17,229.91Z"/>
      </svg>
    </div>
</section>
