<section id="{{ id }}" class="section hero hero__image" {% if hero_image %} style="background-image:url({{hero_image.url() }})" {% else %} style="background-image:url({{ url('theme://images/default.jpg') }});" {% endif %}>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 ml-auto">
          <article class="hero__content px-5 py-5">
              {{ content|raw }}
          </article>
        </div>
      </div>
    </div>
</section>
