{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}
{% set new_base_url = blog.url == '/' ? '' : blog.url %}

{% if config.plugins.relatedpages.enabled and related_pages|length > 0 %}
<div class="sidebar__content mb-5">
    <h5 class="sidebar__title mb-4">{{ 'THEME_ALEXGRAPHICDESIGNER.SIDEBAR.RELATED_POSTS.HEADLINE'|t }}</h5>
    {% include 'partials/plugins/relatedpages.html.twig' %}
</div>
{% endif %}

{{ page.find('/modules/sidebar').content|raw }}

{% if config.plugins.taxonomylist.enabled %}
<div class="sidebar__content mb-5">
    <h5 class="sidebar__title mb-4">{{ 'THEME_ALEXGRAPHICDESIGNER.SIDEBAR.POPULAR_TAGS.HEADLINE'|t }}</h5>
    {% include 'partials/plugins/taxonomylist.html.twig' with {'base_url':new_base_url, 'taxonomy':'tag'} %}
</div>
{% endif %}

{% if config.plugins.archives.enabled %}
<div class="sidebar__content mb-5">
    <h5 class="sidebar__title mb-4">{{ 'THEME_ALEXGRAPHICDESIGNER.SIDEBAR.ARCHIVES.HEADLINE'|t }}</h5>
	{% include 'partials/plugins/archives.html.twig' with {'base_url':new_base_url} %}
</div>
{% endif %}
