//variables AlexGraphicDesigner

$primary-color: blue;
$secondary-color: red;

$font-size-base: 1rem;

$white: #fff;
$black: #000;

//header
$header-bg: $white;
$header-logo-height: 4rem;
$header-height: 5rem;

//Footer
$footer-border-top: 1px solid lighten($black, 95%);
$font-size-legal: $font-size-base * 0.8;

//Liens
$link-color: $black;
