//
// Blog
//

//Layout Blog
.sidebar{
  &__title{
    //position: relative;
    font-size: $font-size-base;
    background: #fff;
    // &:before{
    //   content: "";
    //   display: block;
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%,-50%);
    //   width: 100%;
    //   height: 1px;
    //   background: #000;
    // }
  }
}

.blog__article{
  img{
    max-width: 100%;
    height: auto;
  }
}

.blog__item{

  .card-img-top{
    position: relative;
  }

  .card-text{
    line-height: 1.7;
  }

  .card-footer{
    font-size: $font-size-base * .8;
  }
}

//Blog Meta elements
.meta{
  &__elements{
    text-align: left;
  }

  &__item{
    i{
      margin-right: .25rem;
    }

    &:last-child{
      margin-left: .5rem;
    }
  }
}

//Date
.date{
  font-size: $font-size-base * .8;
}

//plugins related-pages
.related-pages{
  &__item{
    display: flex;
    align-items: start;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba($primary, .1);
    &:last-child{
      margin-bottom: 0;
      border-bottom: none;
    }
  }

  &__body{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: .25rem;
    padding-left: .5rem;
  }
}
