//
// Blog
//

//Layout Blog
.content{
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.sidebar{
  &__title{
    display: flex;
    //align-items: center;
    font-size: $font-size-base;
    // &:before, &:after{
    //   content: "";
    //   display: block;
    //   height: 2px;
    //   width: 100%;
    //   background: #000;
    // }

//
  }
}

//Pagination
.content-pagination{
  margin-top: 3rem;
  &__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__item{
    margin: .5rem 0;
  }
}

.blog__article{
  img{
    max-width: 100%;
    height: auto;
  }
}

.blog__item{
  .card-footer{
    font-size: $font-size-base * .8;
  }
}

//Blog Meta elements
.meta{
  &__elements{
    text-align: left;
  }

  &__item{
    i{
      margin-right: .25rem;
    }

    &:last-child{
      margin-left: .5rem;
    }
  }
}

//Date
.date{
  font-size: $font-size-base * .8;
}

//plugins related-pages
.related-pages{
  &__item{
    display: flex;
    align-items: start;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba($primary, .1);
    &:last-child{
      margin-bottom: 0;
      border-bottom: none;
    }
  }

  &__body{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: .25rem;
    padding-left: .5rem;
  }
}

//Responsive
@include media-breakpoint-up(md) {
  //Layout Blog
  .content{
    &--right{
      padding-right: 3rem;
    }
  }
}

@include media-breakpoint-up(sm) {
  .content-pagination{
    &__list{
      justify-content: space-between;
    }
  }
}
