//
// Blog
//

.blog__item{
  .card-text{
    line-height: 1.7;
  }

  .card-footer{
    font-size: $font-size-base * .8;
  }
}

//Blog Meta elements
.meta{
  &__elements{
    text-align: left;
  }

  &__item{
    i{
      margin-right: .3rem;
    }

    &:last-child{
      margin-left: .5rem;
    }
  }
}
