//Styles généraux footer

.footer{
  background: $secondary;
  //border-top: $footer-border-top;
  padding: 1rem 0;

  //Réseaux sociaux
  &__social{

    &__item{
      display: inline-block;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

  }

  //Mentions Légales
  &__legal{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $font-size-legal;

    &__list{
      text-align: right;
      list-style: none;
      padding-left: 0.5em;

      &__item{
        display: inline-block;
        &:not(:first-child) {
          &:before{
            content: "/";
            padding:0 0.5em;
          }
        }
      }

    }
  }
}

//Styles Desktop et tablette
@include media-breakpoint-up(md) {
  .footer{
    &__legal{
      flex-direction: row;
    }
  }
}
