//Style section "HOME"
//scss/content/_home.scss

//Home
.home{
  position: relative;
  background: #fff;
  padding: 0 3rem 3rem 3rem;
}

.home__slider{
  &__wrapper{
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
    padding: 0 15px;
  }
}

//Card
.home__slider{
  &__card{
    border: 0;
    box-shadow: $home-content-card-shadow;
    border-radius: $home-content-card-border-radius;
    text-align: center;

    .card-text{
      font-weight: 300;
      color: $home-text-color;
    }

  }
}

//Liens réseaux sociaux
.home__social{
    display: flex;
    align-items: center;
    position: absolute;
    //padding-bottom: 9em;
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    &:after{
      content:"";
      display: block;
      width: 50px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  
    &__link{
      display: inline-block;
      width: 45px;
      height: 45px;
      line-height: 45px;
      margin-right: 16px;
      border-radius: 50%;
      background: #fff;
    }
  
  }

@include media-breakpoint-up(md) {

  .home__slider{
    &__content{
      width: 400px;
      left: 50px;
    }
  }

}
