//
// Home
//

.home{
  position: relative;
  background: #fff;
  padding-right: 15px;
  padding-left: 15px;
}

.home__slider{
  &__wrapper{
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
    padding: 0 15px;
  }

  &__card{
    border: 0;
    box-shadow: $home-content-card-shadow;
    border-radius: $home-content-card-border-radius;
    text-align: center;

    .card-text{
      font-weight: 300;
      color: $home-text-color;
    }

  }
}

//Scroll Down
.home__scroll{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding-bottom: 3rem;
}

//Liens réseaux sociaux
.home__social{
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 1rem;
    // &:before, &:after{
    //   content:"";
    //   display: block;
    //   width: 1px;
    //   height: 4em;
    //   background-color: #fff;
    //   position: absolute;
    //   right: 4rem;
    //   bottom: 0;
    // }

    &__item{
      margin-bottom: 16px;
      &:last-child{
        margin-bottom: 0;
      }
    }

    &__link{
      display: inline-block;
      width: 45px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      border-radius: 50%;
      background: #fff;
      @include box-shadow($box-shadow-base);
      transition: transform .2s ease-in-out;
      &:hover, &:focus{
        transform: scale(1.2);
      }
    }

  }

@include media-breakpoint-up(md) {
  .home{
    padding: 0 3rem 3rem 3rem;
  }

  .home__social{
    display: flex;
  }

  .home__slider{
    &__content{
      width: 400px;
      left: 50px;
    }
  }

}
