//Style section "HOME"
//scss/content/_home.scss

//Incrustation
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: $black;
}


//Home
.home{
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;

  &__content{
    background: $home-content-bg;
    padding: $home-content-pad;
    border-radius: $home-content-border;
    position: relative;
  }

  //Liens réseaux sociaux HOME
  &__social{
    position: absolute;
    padding-bottom: 9em;
    right: 25px;
    bottom: 0;
    &:after{
      content: "";
      display: block;
      width: 1px;
      height: 8em;
      background-color: $home-social-color;
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translate(-50%, 0);
    }

    &__list{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 0;
    }

    &__item{
      list-style: none;
      padding: 5px;
    }
  }

}
