//Contenu général
//scss/content/_main.scss

//Appel de fonts
@include font-face('poppins', '../fonts/poppins-light', 300, normal);
@include font-face('poppins', '../fonts/poppins-regular', 400, normal);
@include font-face('poppins', '../fonts/poppins-bold', 700, normal);


html, body{
  width: 100%;
  height: 100%;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

body{
  color: $body-color;
  -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 text-rendering: optimizeLegibility;
}

main{
  line-height: 1.7rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  color: $title-color;
  font-weight: 700;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
  position: relative;
}

.section{
  position: relative;
  padding: 80px 0;
}

//Titres section
.section__title{
  .title{
    position: relative;
    &:before{
      content: "";
      position: absolute;
      height: 2px;
      width: 2rem;
      background: #000;
    }
  }
}

.title__vertical{
  position: absolute;
  top: 0;
  left: 0;
  .title{
    padding-left: 2.5rem;
    &:before{
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}


// .section__title{
//   &.text-left{
//     .title{
//       padding-left: 2.5rem;
//       &:before{
//         left: 0;
//         top: 50%;
//         transform: translate(0, -50%);
//       }
//     }
//   }
//
//   &.text-center{
//     .title{
//       &:before{
//         left: 50%;
//         bottom: -1rem;
//         transform: translate(-50%, 0);
//       }
//     }
//   }
//
//   &.text-right{
//     .title{
//       padding-right: 2.5rem;
//       &:before{
//         right: 0;
//         top: 50%;
//         transform: translate(0, -50%);
//       }
//     }
//   }
// }

#main-content{
  margin-top: 0;
  transition: margin-top .4s ease-in-out;
}

.scrolled{
  #main-content{
    margin-top: -50px;
  }
}

@include media-breakpoint-up(md) {
  .title__vertical{
    left: 0;
    transform-origin: 0%;
    transform: rotate(-90deg);
  }
}
