//Contenu général
//scss/content/_main.scss

//Appel de fonts
@include font-face('poppins', '../fonts/poppins-light', 300, normal);
@include font-face('poppins', '../fonts/poppins-regular', 400, normal);
@include font-face('poppins', '../fonts/poppins-bold', 700, normal);


html, body{
  width: 100%;
  height: 100%;
  //font-family: "poppins", Arial, Helvetica, sans-serif;
}

body{
  color: $body-color;
  -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 text-rendering: optimizeLegibility;
}

main{
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
  color: $title-color;
}

#main-content{
  margin-top: 0;
  transition: margin-top .4s ease-in-out;
}

.scrolled{
  #main-content{
    margin-top: -50px;
  }
}

.section{
  position: relative;
}

//Titres section
.title{
  position: relative;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  padding-left: 2rem;
  &:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    height: 2px;
    width: 1.5rem;
    background: #000;
  }
}

.title{
  &.text-left{
    padding-left: 2rem;
    &:before{
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  &.text-center{
    &:before{
      left: 50%;
      bottom: -1rem;
      transform: translate(-50%, 0);
    }
  }

  &.text-right{
    padding-right: 2rem;
    &:before{
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}

.img-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}

//Shape
.shape{
  position: absolute;
  overflow: hidden;

  &--bottom{
    right: 0;
    left: 0;
    bottom:0;
    margin-bottom: -1px;
  }

  svg{
    display: block;
    width: 100%;
    height: auto;
  }
}

//Responsive Desktop & Tablette
@include media-breakpoint-up(md) {

}
