//
// Skills
//

.skills{

  &__item{
    background: #fff;
    padding: 30px;
    border:2px solid transparent;
    border-radius: 2rem;
    box-shadow: 0 0 30px 0 rgba(167,167,167,.16);
    @include transition;
    @include hover{
      border-color: #000;
    }
  }

  &__text{
    margin-top: 1rem;
  }

}
