{% extends 'partials/base.html.twig' %}
{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}
{% set collection = page.collection() %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog])|defined(true) %}
{% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(true)  %}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}

{% block stylesheets %}
  {{ parent() }}
  {% do assets.addCss('theme://css/bricklayer.css', 99) %}
{% endblock %}

{% block javascripts %}
  {% do assets.addJS('//cdnjs.cloudflare.com/ajax/libs/bricklayer/0.4.2/bricklayer.min.js', {priority: 97}) %}
  {{ parent() }}
{% endblock %}

{% block content %}
    <section id="{% if page.header.redirect %}{{ page.header.redirect }}{% else %}{{ page.menu|lower|replace({' ': '-'})}}{% endif %}" class="section blog-listing">
        <div class="container">
          {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
              {% include 'partials/breadcrumbs.html.twig' %}
          {% endif %}
          <div class="row">
            {% embed 'partials/blog/layout.html.twig' with {blog: page} %}
              {% block item %}
                  <div class="bricklayer">
                  {% for child in collection %}
                      {% include 'partials/blog/blog-list-item.html.twig' with {blog: page, page: child} %}
                  {% endfor %}
                  </div>
                  {% if show_pagination and config.plugins.pagination.enabled and collection.params.pagination %}
                    <div id="listing-footer">
                        {% include 'partials/pagination.html.twig' with {base_url: page.url, pagination: collection.params.pagination} %}
                    </div>
                  {% endif %}
              {% endblock %}
              {% block sidebar %}
                  {% include 'partials/sidebar.html.twig' %}
              {% endblock %}
            {% endembed %}
          </div>
        </div>
    </section>
    <script>
        //Bricklayer
        var bricklayer = new Bricklayer(document.querySelector('.bricklayer'))
    </script>
{% endblock %}
