{% extends 'partials/base.html.twig' %}

{% block content %}
  <section id="default-content" class="section py-4">
    <div class="container">
      <div class="row">
        <div class="col">
          {{ page.content|raw }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
