{% extends 'partials/base.html.twig' %}
{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog])|defined(true) %}
{% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(true)  %}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}
{% set hero_image_name = page.header.hero_image %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block hero %}
    {% set content %}
        <h1 class="hero__title">{{ page.title }}</h1>
        <h2>{{ page.header.subtitle }}</h2>
        {% include 'partials/blog/date.html.twig' %}
        {% include 'partials/taxonomy.html.twig' %}
    {% endset %}
    {% include 'partials/hero.html.twig' with {id: 'blog-hero', hero_image: blog_image} %}
{% endblock %}

{% block content %}
  <section id="article" class="section blog__article py-4">
      <div class="container">
        {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
            {% include 'partials/plugins/breadcrumbs.html.twig' %}
        {% endif %}
        <div class="row">
          {% embed 'partials/layout.html.twig' %}
            {% block item %}
                {% include 'partials/blog/blog-item.html.twig' %}
            {% endblock %}
            {% block sidebar %}
                {% include 'partials/sidebar.html.twig' %}
            {% endblock %}
          {% endembed %}
        </div>
      </div>
  </section>
{% endblock %}
