{% extends 'partials/base.html.twig' %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block content %}
  <section id="body-wrapper" class="section blog-listing">
      <div class="container">
        <div class="row">
          {% embed 'partials/blog/layout.html.twig' %}
            {% block item %}
                {% include 'partials/blog/blog-item.html.twig' %}
            {% endblock %}
          {% endembed %}
        </div>
      </div>
  </section>
{% endblock %}
