{% extends 'partials/base.html.twig' %}

{% block body %}
  <main id="content" role="main">
      {% for module in page.collection() %}
          {{ module.content }}
      {% endfor %}
  </main>
{% endblock %}
