//Variables -- AlexGraphicDesigner-Theme

@import "../../../node_modules/bootstrap/scss/variables";

$font-size-base:                                            1rem;
$spacer-base:                                               1rem;
$radius-base:                                               1rem;

$white:                                                     #fff;
$black:                                                     #000;

$primary:                                                   $black;
$secondary-color:                                           $white;

$colors: ();
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white
  ),
  $colors
);

$primary:       $black;
$secondary:     $white;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;


//Surcharge variables couleurs bootstrap
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "custom-primary": $primary
);

//Surcharge variables d'espacement Bootstrap
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 7.5
);

$box-shadow-base:                                           0px 12px 28px 0px rgba(0,0,0,0.25);
$transition-base:                                           all .4s ease-in-out;

$focus-base:                                                1px dashed #000;

$border-radius:                                             $radius-base;

//Body
$body-color:                                                rgba($primary, .8);

//Title
$title-color:                                               $primary;

//Liens
$link-color:                                                $primary;
$link-hover-color:                                          darken($link-color, 15%);

//header
$header-bg:                                                 $secondary-color;
$header-logo-height:                                        3rem;

//nav
$nav-link-font-size:                                        $font-size-base;
$nav-link-color-hover:                                      $navbar-light-hover-color;
$nav-link-color-active:                                     $primary;

//Footer
$footer-border-top:                                         1px solid lighten($black, 95%);
$font-size-legal:                                           $font-size-base * 0.8;


//
// Cards
// Surcharges variables Bootstrap
//

$card-spacer-y:                     $spacer !default;
$card-spacer-x:                     $spacer !default;
$card-title-spacer-y:               $spacer / 2 !default;
$card-border-width:                 $border-width !default;
$card-border-radius:                2em 0.8em 2em 0;
$card-border-color:                 transparent;
$card-box-shadow:                   0 0 30px 0 rgba(167,167,167,.16);
$card-inner-border-radius:          subtract($card-border-radius, $card-border-width) !default;
$card-cap-padding-y:                $card-spacer-y / 2 !default;
$card-cap-padding-x:                $card-spacer-x !default;
$card-cap-bg:                       $white;
$card-cap-color:                    null !default;
$card-height:                       null !default;
$card-color:                        null !default;
$card-bg:                           $white !default;
$card-img-overlay-padding:          $spacer !default;
$card-group-margin:                 $grid-gutter-width / 2 !default;

//
// Buttons
// Surcharges variables Bootstrap + variables perso
//
$btn-padding-y:               $input-btn-padding-y !default;
$btn-padding-x:               $input-btn-padding-x !default;
$btn-font-family:             $input-btn-font-family !default;
$btn-font-size:               $input-btn-font-size !default;
$btn-line-height:             $input-btn-line-height !default;
$btn-white-space:             null !default; // Set to `nowrap` to prevent text wrapping

$btn-padding-y-sm:            $input-btn-padding-y-sm !default;
$btn-padding-x-sm:            $input-btn-padding-x-sm !default;
$btn-font-size-sm:            $input-btn-font-size-sm !default;

$btn-padding-y-lg:            $input-btn-padding-y-lg !default;
$btn-padding-x-lg:            $input-btn-padding-x-lg !default;
$btn-font-size-lg:            $input-btn-font-size-lg !default;

$btn-border-width:            $input-btn-border-width !default;

$btn-font-weight:             $font-weight-normal !default;
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-focus-width:             $input-btn-focus-width !default;
$btn-focus-box-shadow:        $input-btn-focus-box-shadow !default;
$btn-disabled-opacity:        .65 !default;
$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125) !default;

$btn-link-color:              $link-color !default;
$btn-link-hover-color:        $link-hover-color !default;
$btn-link-disabled-color:     $gray-600 !default;

$btn-block-spacing-y:         .5rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           10rem;
$btn-border-radius-sm:        $border-radius-sm !default;
$btn-border-radius-lg:        $border-radius-lg !default;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

// Breadcrumbs

$breadcrumb-font-size:              $font-size-base * .8;

$breadcrumb-padding-y:              .75rem !default;
$breadcrumb-padding-x:              1rem !default;
$breadcrumb-item-padding:           .5rem !default;

$breadcrumb-margin-bottom:          1rem !default;

$breadcrumb-bg:                     $white;
$breadcrumb-divider-color:          $gray-600 !default;
$breadcrumb-active-color:           $gray-600 !default;
$breadcrumb-divider:                quote("/") !default;

$breadcrumb-border-radius:          $border-radius !default;



//Back to top
$back-to-top-bg:                                            $secondary-color;
$back-to-top-color:                                         $primary;
$back-to-top-size:                                          45px;
$back-to-top-radius:                                        50%;
$back-to-top-zindex:                                        $zindex-fixed;
