//Variables -- AlexGraphicDesigner-Theme

@import "../../../node_modules/bootstrap/scss/variables";

$font-size-base:                                            1rem;
$spacer-base:                                               1rem;
$radius-base:                                               1rem;

$white:                                                     #fff;
$black:                                                     #000;

$primary-color:                                             $black;
$secondary-color:                                           $white;

$box-shadow-base:                                           0px 12px 28px 0px rgba(0,0,0,0.25);
$transition-base:                                           all .4s ease-in-out;

$focus-base:                                                1px dashed #000;

$border-radius:                                             $radius-base;

//Body
$body-color:                                                rgba($primary-color, .8);

//Title
$title-color:                                               $primary-color;

//Liens
$link-color:                                                $primary-color;
$link-hover-color:                                          darken($link-color, 15%);

//header
$header-bg:                                                 $secondary-color;
$header-logo-height:                                        3rem;

//nav
$nav-link-font-size:                                        $font-size-base;
$nav-link-color-hover:                                      $navbar-light-hover-color;
$nav-link-color-active:                                     $primary-color;

// $navbar-light-color:                                        rgba($primary-color, .55);
// $navbar-light-hover-color:                                  rgba($primary-color, .7);
// $navbar-light-active-color:                                 rgba($primary-color, .9);
// $navbar-light-disabled-color:                               rgba($primary-color, .3);

//Footer
$footer-border-top:                                         1px solid lighten($black, 95%);
$font-size-legal:                                           $font-size-base * 0.8;

//
//Boutons
//
//General
$btn-font-size:                                             $font-size-base * 0.875;
$btn-min-width:                                             64px;
$btn-height:                                                36px;
$btn-radius:                                                $btn-height / 2;
$btn-color:                                                 $secondary-color;

//Primary
$btn-primary-bg:                                            $primary-color;
$btn-primary-border:                                        transparent;

//Primary-outline
$btn-primary-outline-color:                                 $primary-color;

//
//Home
//
$home-content-card-bg:                                      $white;
$home-content-card-pad:                                     1.25rem;
$home-content-card-border-radius:                           $radius-base;
//$home-content-card-shadow:                                  rgba(0, 0, 0, 0.05) 1px 2px 4px;
$home-content-card-shadow:                                  0px 23px 60px 0px rgba(0,41,158,0.3);

$home-text-color:                                           rgba($primary-color, .8);

$home-social-color:                                         $primary-color;

//Back to top
$back-to-top-bg:                                            $secondary-color;
$back-to-top-color:                                         $primary-color;
$back-to-top-size:                                          45px;
$back-to-top-radius:                                        50%;
$back-to-top-zindex:                                        $zindex-fixed;
