//Variables -- AlexGraphicDesigner-Theme

@import "../../../node_modules/bootstrap/scss/variables";

$primary-color: blue;
$secondary-color: red;

$font-size-base: 1rem;

$white: #fff;
$black: #000;

//header
$header-bg: $white;
$header-logo-height: 4rem;
$header-height: 5rem;
$zindex-header: 1030;

//nav
$nav-link-font-size: $font-size-base * 0.875;
$nav-link-color: $black;
$nav-link-color-hover: $nav-link-color;

//Footer
$footer-border-top: 1px solid lighten($black, 95%);
$font-size-legal: $font-size-base * 0.8;

//Liens
$link-color: $black;

//Boutons
$btn-font-size: 1rem;
$btn-min-width: 64px;
$btn-height: 36px;
$btn-radius: 50rem;

//Home
$home-content-bg: $white;
$home-content-pad: 1.25em;
$home-content-border: 4px;
$home-content-shadow: rgba(0, 0, 0, 0.05) 1px 2px 4px;

$home-text-color: lighten($black, 50%);

$home-social-color: $black;
